*{margin: 0;padding: 0;outline: 0;}
body{font-family: verdana;font-size: 16px;}
.wrapper{width: 800px;margin: 0 auto;}
.clear{overflow: hidden;}
.headeropt, .footeropt{background: #666;color: #fff;padding: 10px;text-align: center;}
.headeropt h2{font-size: 40px;}
.footeropt p{margin-bottom: 5px;}
.footeropt a{text-decoration: none;color: #fff;}
.footeropt a:hover{text-decoration: underline;color: #fff;}
.content{border: 15px solid #666;min-height: 450px;}
.box{border: 5px solid #999;margin: 30px auto 0;padding: 20px;width: 600px;height: 180px;overflow: scroll;}
.box ul{margin: 0;padding: 0;list-style: none;}
.box li{display: block;border-bottom: 1px dashed #ddd;margin-bottom: 5px;padding-bottom: 5px;}
.box li:last-child{border-bottom: 0 dashed #ddd;}
.box span{color: #888;}
.shoutform{border: 5px solid #999;margin: 30px auto 10px;padding: 20px;width: 600px;}
input[type="text"]{padding: 5px;width: 500px;}
input[type="submit"]{background: #666;border: 1px solid #444;color: #fff;cursor: pointer;font-size: 20px;padding: 5px 20px;}


/* 
*{padding: 0;margin: 0;}
body{background: AliceBlue;}
#container{width: 800px;margin: 0 auto;font-family: verdana;}
#header{height: 60px;background: #666;color: #FFFFFF;text-align: center;}
#header h1{padding-top: 13px;}
#main-content{min-height: 360px;float: right;background:#FFFFFF;}
#main-content-data{margin-left: 200px;margin-top: 2px;}
#form{width: 383px;height: 155px;background: #CFCFCF;border-radius: 5px;padding:5px 10px;}
#msg{}
#decorate{width: 230px;padding: 3px;overflow: hidden;border-radius: 5px;border:1px solid #387975;}
#footer{height: 50px;background: #666;clear: both;color: #FFFFFF;text-align: center;}
#footer p{padding-top: 15px;}
.iframe{width: 400px;height: 180px;border: 1px dotted #666;overflow-y: hidden;font-family: helvetica;margin-bottom: 5px;}
.iframe:hover{overflow-y: scroll;}
.comment{background: #387975;padding: 4px;color: #fff;border-radius: 4px;border-outline: none;margin-bottom: 3px;}
*/